@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8vw;
  color: #61240f;
}

body button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  border: none;
  background-color: #f3df85;
  border-radius: 1.5em;
}

body a {
  text-decoration: none;
  color: #61240f;
}

@media screen and (max-width: 575px) {
  body {
    text-align: center;
    font-size: 6vw;
  }
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    font-size: 2.5vw;
  }
}

/* HEADER */
header {
  width: 100%;
  background-color: #fbf7e3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

header button {
  padding: 1em;
}

.shop-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4em;
  padding-block: 1.5em;
  min-width: 25%;
}

.shop-button a {
  font-size: 1.5em;
  font-weight: 700;
}

.shop-button img {
  height: 2.5em;
}

@media screen and (max-width: 575px) {
  header {
    margin-top: 1em;
    margin-inline: 0.5em;
    border-radius: 5em;
    flex-wrap: wrap;
    padding-inline: 1.5em;
    padding-block: 1.5em;
    gap: 1em;
  }

  header button {
    width: 46%;
    padding-inline: 0.6em;
  }

  .shop-button {
    width: 100%;
    order: -1;
    justify-content: center;
    gap: 1em;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 25vw;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    height: 100vh;
    position: fixed;
  }

  header button:not(:nth-of-type(3)) {
    padding-block: 3em;
    width: 100%;
    border-radius: 4em;
    font-size: 0.5em;
  }

  .shop-button {
    font-size: 1.7vw;
    width: 100%;
    order: -1;
    justify-content: center;
    gap: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 15vw;
    font-size: 1.5vw;
  }

  .shop-button {
    font-size: 1vw;
  }
}

/* MAIN */
main {
  padding-inline: 1em;
  font-size: 2.8vw;
  padding-bottom: 1em;
}

@media screen and (max-width: 575px) {
  main {
    font-size: 6vw;
  }
}

@media screen and (min-width: 768px) {
  main {
    margin-left: 25vw;
    width: 75vw;
    font-size: 2vw;
    padding-inline: 2em;
  }
}

@media screen and (min-width: 992px) {
  main {
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 1200px) {
  main {
    margin-left: 15vw;
    width: 85vw;
    font-size: 1vw;
    padding-inline: 2em;
  }
}

/* PRODUCTS SECTION */

h1 {
  font-size: 2em;
  font-weight: 800;
  margin-block: 1em;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.8em;
  gap: 1.8em;
  width: 100%;
  margin-bottom: 4em;
}

.card {
  text-align: center;
  border-radius: 3em;
  width: 47.8%;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: #fbf7e3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:last-of-type {
  display: none;
}

.card-text {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.honey-type {
  padding-inline: 2.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.honey-type h4 {
  font-weight: 700;
  margin-block: 0.2em;
}

.description {
  font-size: 0.8em;
  font-weight: 500;
}

.price {
  font-weight: 600;
}

main button {
  padding: 0.5em 2.5em;
  width: 50%;
  height: 30%;
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 1.5em;
  }

  .cards-section {
    font-size: 0.6em;
  }

  .card {
    width: 100%;
  }

  .honey-type {
    padding-inline: 4em;
    margin-block: 0.5em;
  }

  .price {
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    margin-top: 0.6em;
    font-size: 2.3em;
  }

  .cards-section {
    flex-wrap: nowrap;
    height: 28vw;
  }

  .card:nth-of-type(4) {
    display: none;
  }

  .honey-type {
    padding-inline: 1em;
  }

  .honey-type h4 {
    line-height: 1.3em;
  }

  .price {
    font-weight: 500;
  }

  main button {
    padding-inline: 0em;
    width: 50%;
    height: 30%;
    border-radius: 2em;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    margin-top: 0.6em;
    font-size: 2.3em;
  }
  .cards-section {
    height: 23vw;
  }
  .card:nth-of-type(4) {
    display: flex;
  }

  main button {
    width: 60%;
    height: 30%;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    margin-top: 0.6em;
    font-size: 2.3em;
  }
  .cards-section {
    height: 17vw;
    gap: 2em;
  }

  .card:nth-of-type(4) {
    display: flex;
  }

  .card:last-of-type {
    display: flex;
  }

  .honey-type {
    padding-inline: 2em;
  }
}

/* LATEST NEWS SECTION */

h2 {
  font-size: 1.5em;
  font-weight: 800;
}

.latest-news {
  font-weight: 500;
  font-size: 0.8em;
  background-color: #fbf7e3;
  padding: 2em;
  border-radius: 2em;
  line-height: 1.5em;
  margin-top: 1em;
}

.latest-news h3 {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 1em;
}

.latest-news p {
  margin-bottom: 2em;
}

.latest-news img {
  width: 100%;
}

@media screen and (max-width: 575px) {
  h2 {
    font-size: 1em;
  }

  .latest-news {
    text-align: left;
    font-size: 0.6em;
    padding: 2.5em;
    border-radius: 3em;
  }

  .latest-news h3 {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2em;
  }

  .latest-news h3 {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1200px) {
  .latest-news {
    display: flex;
    gap: 2em;
  }

  .latest-news img {
    order: -1;
    width: 50%;
  }
}
