@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8vw;
  color: #61240f;
}

body button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  border: none;
  background-color: #f3df85;
  border-radius: 1.5em;
}

body a {
  text-decoration: none;
  color: #61240f;
}

/* HEADER */
header {
  width: 100%;
  background-color: #fbf7e3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

header button {
  padding: 1em;
}

.shop-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4em;
  padding-block: 1.5em;
  min-width: 25%;
}

.shop-button a {
  font-size: 1.5em;
  font-weight: 700;
}

.shop-button img {
  height: 2.5em;
}

@media screen and (max-width: 575px) {
  body {
    text-align: center;
    font-size: 6vw;
  }

  header {
    margin-top: 1em;
    margin-inline: 0.5em;
    border-radius: 5em;
    flex-wrap: wrap;
    padding-inline: 1.5em;
    padding-block: 1.5em;
    gap: 1em;
  }

  header button {
    width: 46%;
    padding-inline: 0.6em;
  }

  .shop-button {
    width: 100%;
    order: -1;
    justify-content: center;
    gap: 1em;
  }
}

/* MAIN */
main {
  padding-inline: 1em;
  font-size: 2.8vw;
  padding-bottom: 1em;
}

@media screen and (max-width: 575px) {
  main {
    font-size: 6vw;
  }
}

/* PRODUCTS SECTION */

h1 {
  font-size: 2em;
  font-weight: 800;
  margin-block: 1em;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.8em;
  gap: 1.8em;
  width: 100%;
  margin-bottom: 4em;
}

.card {
  text-align: center;
  border-radius: 3em;
  width: 47.8%;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: #fbf7e3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.honey-type {
  padding-inline: 2.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.honey-type h4 {
  font-weight: 700;
  margin-block: 0.2em;
}

.description {
  font-size: 0.8em;
  font-weight: 500;
}

.price {
  font-weight: 600;
}

main button {
  padding: 0.5em 2.5em;
  width: 50%;
  height: 30%;
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 1.5em;
  }

  .cards-section {
    font-size: 0.6em;
  }

  .card {
    width: 100%;
  }

  .honey-type {
    padding-inline: 4em;
    margin-block: 0.5em;
  }

  .price {
    font-weight: 400;
  }
}

/* LATEST NEWS SECTION */

h2 {
  font-size: 1.5em;
  font-weight: 800;
}

.latest-news {
  font-weight: 500;
  font-size: 0.8em;
  background-color: #fbf7e3;
  padding: 2em;
  border-radius: 2em;
  line-height: 1.5em;
  margin-top: 1em;
}

.latest-news h3 {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 1em;
}

.latest-news p {
  margin-bottom: 2em;
}

.latest-news img {
  width: 100%;
}

@media screen and (max-width: 575px) {
  h2 {
    font-size: 1em;
  }

  .latest-news {
    text-align: left;
    font-size: 0.6em;
    padding: 2.5em;
    border-radius: 3em;
  }

  .latest-news h3 {
    font-size: 1.4em;
  }
}
