@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #61240f;
}

body button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  border: none;
  background-color: #f3df85;
  border-radius: 1.5em;
}

body a {
  text-decoration: none;
  color: #61240f;
}

/* HEADER */
header {
  width: 100%;
  background-color: #fbf7e3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  padding: 1em;
}

header button {
  padding: 1em;
}

.shop-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11em;
  border-radius: 4em;
  padding-block: 2em;
}

.shop-button a {
  font-size: 1.5em;
  font-weight: 700;
}

.shop-button img {
  height: 2.5em;
}

/* MAIN */
main {
  max-width: 576px;
  padding-inline: 1em;
  margin-inline: auto;
  font-size: 1rem;
}

/* PRODUCTS SECTION */
h1 {
  font-size: 2em;
  font-weight: 800;
  margin-block: 1em;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.8em;
}

.card {
  text-align: center;
  border-radius: 3em;
  width: 260px;
  height: 260px;
  overflow: hidden;
  background-color: #fbf7e3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
}

.card-text {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.honey-type {
  padding-inline: 2.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.honey-type h4 {
  font-weight: 700;
  margin-block: 0.2em;
}

.description {
  font-size: 0.8em;
  font-weight: 500;
}

.price {
  font-weight: 600;
}

main button {
  padding: 0.5em 2.5em;
  width: 50%;
}

/* LATEST NEWS SECTION */

h2 {
  font-size: 1.5em;
  font-weight: 800;
}

.latest-news {
  font-weight: 500;
  font-size: 0.8em;
  background-color: #fbf7e3;
  padding: 2em;
  border-radius: 2em;
  line-height: 1.5em;
  margin-block: 1em;
}

.latest-news h3 {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 1em;
}

.latest-news p {
  margin-bottom: 2em;
}

.latest-news img {
  width: 100%;
}
